{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Flavor Finders</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/ca36ce4546.js" crossorigin="anonymous"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
<!-- Load the `mapbox-gl-geocoder` plugin. -->

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">


<div id="map"></div>

<div class="settings-icon" id="settingsIcon" data-bs-toggle="modal" data-bs-target="#settingsDashboard">
  <i class="fa-solid fa-users-rectangle"></i>
</div>



<div class="modal fade" id="settingsDashboard" tabindex="-1" aria-labelledby="settingsDashboardLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-body d-flex p-0">
              <div class="left-section p-4 text-white">
                  <div class="profile text-center mb-4">
                    <img src="{% static 'dashboard/images/default-user-icon-8.jpg' %}" alt="Profile Picture" class="profile-pic">
                      <h4 class="mt-2">{{user.get_username}}</h4>
                      <button class="btn btn-light btn-sm mt-2">Update Profile Picture</button>
                  </div>
                  <ul class="list-unstyled mt-4 centered-list">
                      <li class="mb-3 cursor-pointer" onclick="showSection('preferences')">Preferences</li>
                      <li class="mb-3 cursor-pointer" onclick="logout()">Logout</li>
                  </ul>
              </div>

              <div class="right-section p-4 w-100">
                  <div id="preferencesSection" class="content-section-active">

                      <h4>Preferences</h4>
                      <div class="preference">
                        <label for="dog-names">Cuisine Style:
                          <select name="dog-names" id="dog-names"> 
                            <option value="rigatoni">American</option> 
                            <option value="dave">Korean</option> 
                            <option value="pumpernickel">Italian</option> 
                            <option value="reeses">Mexican</option> 
                        </select>
                        <div>
                          <label for="Name">Current Zip Code:
                            <input type="text" id="zip-code" name="zip-code" minlength="5" placeholder="10001">
                          </label>
                        </div>
                        <div>
                          <label for="Name">Location Radius:
                            <input type="text" id="zip-code" name="zip-code" minlength="5" placeholder="5m">
                          </label>
                        </div>
                        <button type="button" class="btn btn-primary">Save Changes</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- <div class="settings-icon" id="settingsIcon">

  <i class="fa-solid fa-users-rectangle" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
</div>







<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
          <div class="left">
            <div class="profile">
              <br>
              <img src="/project-2/images/default-user-icon-8.jpg" alt="" width="128px" height="128px">
              <br>
              <p>Username</p>
              <label for="file-input" class="upload-label">
                <button class="edit-profile">
                  <span id="edit-profile">Edit Profile Picture <i class="fa-solid fa-pen-to-square"></i>
                     
                  </span>
                  
                 </button> 
              </label>
              <input type="file" id="file-input" accept="*" style="display: none;">
              
              <label for="#file-input">
                   
              </label>
             
                
             <br>
              <br>
              
            </div>
            <div>
              <ul>
                <li id="profileTab" onclick="toggleTab('right')">Profile</li>
                <li>Stores</li>
                <li id="preferencesTab" onclick="toggleTab('preferences')">Preferences</li>
                <li class="main-menu" data-bs-toggle="modal"  data-bs-target="#staticBackdrop"> Main Menu</i></li>
                <li>Logout</li>
              </ul>
            </div>
           
          </div>



      <!-- <div class="modal-header">
        {% if user.is_authenticated %}
        <h1 class="modal-title" id="staticBackdropLabel">Welcome {{user.get_username}} !</h1>
        {% else %}
        <h1 class="modal-title" id="staticBackdropLabel">Settings</h1>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-list">
            <ul>
              <a href="">
                <li>
                  <i class="fa-solid fa-users"></i> Friends
                </li>
              </a>
              <a href="">
                <li>
                  <i class="fa-solid fa-user"></i> Profile
                </li>
              </a>
              <a href="">
                <li>
                  <i class="fa-solid fa-gear"></i> Preferences
                </li>
                <li>
                  
                  <a href="{% url 'logout' %}"><input type="submit" value="Logout"></a>
                </li>
              </a>
            </ul>
            
          </div>
          <div class="container">
            <p>A</p>
        </div>
        </div>
       
        
        
      </div>
      End of Modal Body -->
      <div>

      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<script src="{% static 'dashboard/js/main.js' %}"></script>

</body>
</html>