





{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/password_done.css' %}">
    <script src="https://kit.fontawesome.com/ca36ce4546.js" crossorigin="anonymous"></script>
  </head>
  <body> 

    

    
    <div class="center">
        {% block content%}
        <h1>Password reset sent!</h1>
    
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
        <br>

        <p>You can now close this tab!</p>
    
        {% endblock content %}
    </div>

  </body>
</html>
